{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Quick SMS"
  },
  "servers": [
    {
      "url": "https://www.fast2sms.com"
    }
  ],
  "tags": [],
  "paths": {
    "/dev/bulkV2": {
      "get": {
        "summary": "New Endpoint",
        "description": "This is your first endpoint! Edit this page to start documenting your API.",
        "operationId": "get_new-endpoint",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "return": {
                      "type": "boolean",
                      "default": "true"
                    },
                    "request_id": {
                      "type": "string",
                      "default": "lwdtp7cjyqxvfe9"
                    },
                    "message": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "default": "Message sent successfully"
                    }
                  },
                  "required": [
                    "return",
                    "request_id"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "authorization",
            "schema": {
              "type": "string",
              "default": "YOUR_API_KEY"
            },
            "required": true,
            "description": "Provide \"YOUR_API_KEY\". "
          },
          {
            "in": "query",
            "name": "message",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Message \"text\" to be sent"
          },
          {
            "in": "query",
            "name": "language",
            "schema": {
              "type": "string",
              "default": "english"
            },
            "required": true,
            "description": "Default language is \"english\". API will detect \"unicode\" message automatically."
          },
          {
            "in": "query",
            "name": "route",
            "schema": {
              "type": "string",
              "default": "q"
            },
            "description": "For Quick SMS use \"q\"",
            "required": true
          },
          {
            "in": "query",
            "name": "numbers",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "You can send multiple mobile numbers seperated by comma like: \"8888888888,9999999999,6666666666\""
          },
          {
            "in": "query",
            "name": "flash",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ],
              "default": "0"
            },
            "required": false,
            "description": "This field is optional, it will use \"0\" as default value or you can set to \"1\" for sending flash message."
          },
          {
            "in": "query",
            "name": "schedule_time",
            "schema": {
              "type": "string"
            },
            "description": "This field is optional, it will use \"null\" as default value or you can set to a future date and time in format YYYY-MM-DD-HH-MM"
          }
        ]
      },
      "post": {
        "summary": "Copy of New Endpoint",
        "description": "This is your first endpoint! Edit this page to start documenting your API.",
        "operationId": "get_devbulkV2-1",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "return": {
                      "type": "boolean",
                      "default": "true"
                    },
                    "request_id": {
                      "type": "string",
                      "default": "lwdtp7cjyqxvfe9"
                    },
                    "message": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "default": "Message sent successfully"
                    }
                  },
                  "required": [
                    "return",
                    "message",
                    "request_id"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "schema": {
              "type": "string",
              "default": "YOUR_API_KEY"
            },
            "required": true,
            "description": "Provide \"YOUR_API_KEY\". "
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "Message \"text\" to be sent"
                  },
                  "language": {
                    "type": "string",
                    "description": "Default language is \"english\". API will detect \"unicode\" message automatically.",
                    "default": "english"
                  },
                  "route": {
                    "type": "string",
                    "description": "For Quick SMS use \"q\"",
                    "default": "q"
                  },
                  "numbers": {
                    "type": "string",
                    "description": "You can send multiple mobile numbers seperated by comma like: \"8888888888,9999999999,6666666666\""
                  },
                  "flash": {
                    "type": "string",
                    "enum": [
                      "0",
                      "1"
                    ],
                    "description": "This field is optional, it will use \"0\" as default value or you can set to \"1\" for sending flash message.",
                    "default": "0"
                  },
                  "schedule_time": {
                    "type": "string",
                    "description": "This field is optional, it will use \"null\" as default value or you can set to a future date and time in format YYYY-MM-DD-HH-MM"
                  }
                },
                "required": [
                  "message",
                  "language",
                  "route",
                  "numbers"
                ]
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "authorization": {
        "type": "apiKey",
        "in": "header",
        "name": "authorization"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}